:root {
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --common-white-color: #ffffff;
  --accent-color: #2196f3;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 1600px;
  height: 1880px;
  background: var(--common-white-color);
  background-color: #e5e5e5;
  font-family: Roboto;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}
ul {
  list-style: none;
}
header {
  background: var(--common-white-color);
  display: flex;
  width: 1600px;
  height: 80px;
  border: 1px solid #ececec;
}
/* Навигация */
nav {
  display: flex;
  margin-left: 250px;
}
.logo-top {
  margin-top: 24px;
  height: 31px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.web {
  margin-top: 60px;
  color: var(--accent-color);
}
.studio {
  color: var(--title-text-color);
}
.navigation {
  display: flex;
  margin-left: 43px;
  text-align: center;
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
}
.nav-link {
  padding-left: 50px;
  color: var(--title-text-color);
}
.nav-link .current {
  color: var(--accent-color);
}
.navigation .nav-link.current {
  color: var(--accent-color);
}
.nav-link {
  padding-left: 45px;
  color: var(--title-text-color);
  width: 77px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:active {
  color: var(--accent-color);
}
.navigation .contact {
  display: flex;
  margin-left: 331px;
  margin-top: 32px;
}
.contacts {
  display: flex;
  padding-left: 278px;
  margin-top: 32px;
}
.contact-mail,
.contact-tel {
  color: var(--secondary-text-color);
  padding-left: 50px;
  width: 122px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contact-tel:hover,
.contact-mail:hover {
  color: var(--accent-color);
}
/* Портфолио */
main {
  background: var(--common-white-color);
  margin: 0px;
  padding: 0px;
}
/* Фильтры */
.filters {
  display: flex;
  margin-left: 517px;
  padding-top: 94px;
  border-radius: 4px;
}
.filter-item button {
  margin-right: 8px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}
.filter-item:active button,
.filter-item:hover button {
  background: var(--accent-color);
  border: none;
}
/* Проэкты */
.projects {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 1200px;
  height: 1272px;
  margin-left: 215px;
  padding-top: 50px;
  padding-bottom: 94px;
}
.project-item {
  width: 370px;
  height: 404px;
  background: var(--common-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-left: 30px;
  text-align: left;
  padding-bottom: 30px;
}
.project-title {
  width: 322px;
  height: 36px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  padding-top: 20px;
  padding-left: 24px;
}
.project-dicrip {
  width: 322px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-left: 24px;
}
/* Подвал */
footer {
  text-decoration: none;
  background: #2f303a;
  width: 1600px;
  height: 252px;
}
.footer-content {
  padding-top: 60px;
  margin-left: 235px;
}
.logo-footer {
  color: var(--common-white-color);
  width: 145px;
  left: 215px;
  top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.footer-address {
  color: var(--common-white-color);
  margin-top: 20px;
  text-decoration: none;
}
.city-address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
}
.footer-tel a,
.footer-mail a {
  margin-top: 9px;
  width: 231px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
a {
  text-decoration: none;
}
